.sacar-carrito{
  display: flex;
  position: absolute;
  border: none;
  background: none;
  margin-left: 10.6rem;
  margin-top: 0.8rem;
  cursor: pointer;
  justify-content: flex-end;
  img{
    width: 40%;
  }
}