@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face {
    font-family: "Futura-extrabold-condensed";
    src: url("../../assets/font/Futura-Extra-Black-Condensed-Regular.otf");
}
@font-face {
    font-family: "Futura-bold";
    src: url("../../assets/font/Futura-Bold.ttf");
}